<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<footer class="footer footer-default" th:fragment="footer">
    <div class="container">
        <div class="copyright">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, developed with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com/" target="_blank">Kondratenko Vladyslav</a>
        </div>
    </div>
</footer>
</html>